/* Remove the navbar's default margin-bottom and rounded borders */
/*.navbar {
	margin-bottom: 0;
	border-radius: 0;
}*/

.body_all{
	background-image:url(../images/background.jpg);
    background-repeat:repeat;
}

hr.new-hr-style { 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #008CED, #f0f0f0); 
}

.haha1{
	background-color: white;
}

.haha2{
	background-color:white;
	border-style: dotted;
    border-color: #008ced;
    display:block !important;
	text-align:left;
	padding: 20px;
}

#root{
	background-color:white;
	border-style: dotted;
    border-color: #008ced;
    display:block !important;
	text-align:left;
	padding: 20px;
}

.sidenav li a{
	text-decoration: none;
}

h1{
	text-align: center;
}
.logo-nav-redim{
	float: left;
	/*width: 15%;*/
	height:20px;
	width: 50px;
	margin-left: 20px;
}

.navbar-brand{
	height:80px;
	width: 80px;
}

@media (max-width:767px){
	.navbar-brand{
		display:none !important;
}
	.main-nav li a{
		display:block !important;
		text-align:center;
		font-size: 30px!important;
	}

	.fa-bars{
		color:white;
		float:right;
	}

	.navbar-collapse{
		height:100vh;
		max-height:100vh!important;
	}
}
.main-div-text{
	background:white;
}

.main-nav-outer{
	box-shadow: 0px 0px 20px 0px black;
	background:#693668;
}
.main-nav{
	/**/
	text-align:right;
	margin:10px 0px 0px 0px;
	padding:0;
	color:white;

}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:white;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:20px 20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li:hover{ 
	border-top: 4px solid #ffffff;
  	border-bottom: 4px solid #ffffff;
  	padding: 6px 0; 

}

.main-nav li a:hover{
	color: #F84AA7;
}

.navbar-toggle {
  width: 100%;
  margin: auto;
  left:0;
  right: 0;
  position: absolute;
  text-align: center;
  color: white;
}





/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}
/* <---------------------FOOTER---------------------> */

.logo-footer-redim{
	float: center;
	/*width: 15%;*/
	display:block;
	margin:auto;
	height:50px;
	width: 200px;
	margin-top: 20px;
}

.logo-footer-ac{
	float: center;
	/*width: 15%;*/
	display:block;
	margin:auto;
	height:150px;
	width: 150px;
	margin-top: 20px;
}

#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2c2c29;
	text-align: center;
	color:white;
}

#footerwrap p {
	color: white;
}

#footerwrap h4 {
	color: white;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
}

#footerwrap i {
	font-size: 30px;
	color: white;
	padding-right: 25px;
	margin:auto;
}

#footerwrap i:hover {
	color: #00b3fe
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}

/* <---------------------END FOOTER---------------------> */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}