.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pixel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  float: left;
  letter-spacing: 7px;
  width: 20px;
}

.boardRow, .pixel {
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  height: 20px;
}

.FLOOR {
  background-color: grey;
}

.WALL {
  background-color: black;
}

.PLAYER {
  background-color: #693668;
}

.ENEMY {
  background-color: red;
}

.HEALTH {
  background-color: green;
}
#board {
  width: 960px;
  display: block;
  float: left;
}

.OUTERWALL {
  background-color: brown;
}

.WIN {
  background-color: yellow;
}

#gui {
  display: absolute;
  top: 0;
  float: left;
  width: 300px;
  background-color: black;
  color: white;
  height: 560px;
}
#combat-log {
  clear: both;  display: block;
  width: 1260px;
  height: 200px;
  background-color: blue;
  color: black;
  overflow-y: scroll;
}
